@import "colors";
@import "mixins";

article:nth-last-of-type(2) {
    background-color: white;
    padding: 20px;
    display: flex;
    @include flexRow;
    width: 100%;
    .text {
        display:none;
        h2 {
            font-size: 20px;
            font-weight: 600;
            color: #333333;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            color: #86878B;

        }
    }
    .media-icon-wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .media-icon {
            
            max-height: 30px;
            
        }
    }
}