@import "colors";
@import "mixins";

article:nth-of-type(5) {
    padding: 100px 20px 0 20px;
    .header-line-text {
        @include flexColumn;
        margin-bottom: 65px;
        text-align:center;
        .line {
            @include line($primaryColorOne);
            width: 64px;
        }
        h1 {
            font-size: 36px;
            color: #212121;
        }
        p {
            opacity: 1;
            font-weight: 400;
            color: #86878B;
        }
    }
    .wrapper {
        @include flexColumn;
        .wrapper-item {
            @include flexColumn;
            margin-bottom: 80px;
            .wrapper-logo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid $primaryColorOne;
                @include flexCenter;
                margin-bottom: 35px;
            }
            h2 {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 27px;
            }
            p {
                text-align: center;
                color: #86878B; 
                max-width: 286px;
            }
        }
    }
}