@import "colors";
@import "mixins";



article:nth-of-type(1) {
    background-color: rgba(28, 28, 28, 0.63);
    background-image: url("assets/photo-1480714378408-67cf0d13bc1b.png");
    background-blend-mode: darken;
    padding: 60px 20px 140px 20px;
    .header-line-text {
        h1 {
            max-width: 430px;
        }
        p {
            font-size: 16px;
            max-width: 650px;
        }
        line {
            opacity: 0.8;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        .logo {
            width: 200px;
            margin-top: 65px;
            margin-bottom: 22px;
            svg {
                width: 100%;
                .a{fill:#e27866}
                .b{fill:#fff}
            }
        }
        button {
            width: 135px;
            height: 42px;
            border: 2px solid $navTextColor;
            background-color: rgba(0,0,0,0);
            color: $navTextColor;
            margin: 45px 0;
        }
    }

    .form-wrapper {
        position: relative;
        padding-bottom: 57px;

        input[type=submit] {
            position:absolute;
            right:0;
            left:0;
        }
    }
    
}

