@import "colors";
@import "mixins";


.form-wrapper {
    background-color: white;
    font-family: 'Montserrat';
    max-width: 360px;
    border-radius: 5px;
    @include flexColumn;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.16);
    width: 100%;
    h1 {
        background-color: #F5F5F5;
        font-size: 20px;
        font-weight: 600;
        padding: 17px 20px;
        text-align: center;
        width: 100%;
        span {
            color: $primaryColorOne;
        }
    }
    form {
        // max-height: 423px;
        //  width: 100%;
        // max-width: 260px;
        
        fieldset:first-of-type {
            .legend {
                margin-top: 30px;
            }
        }
        fieldset {
            // padding: 0 20px;
            border: none;
            .legend {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 22px;
            }
            input {
                outline: none;
                margin-bottom: 29px;
                font-family: 'Montserrat';
                padding-bottom: 4px;
                padding-left: 10px;
            }
            input:checked + label>.radio-button::after {
                display:inline-block;
                content:"";
                position:absolute;
                height: 6px;
                width: 6px;
                top: 4px;
                left: 4px;
                background-color: $primaryColorTwo;
                border-radius: 50%;
            }
            input:checked + label {
                opacity: 1;
            }
            .input-wrap {
                display: flex;
                justify-content: left;
            }
            label {
                opacity: 0.5;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 9px;
                margin-bottom: 42px;
                box-sizing: border-box;
                .radio-button {
                    background-color: white;
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    border: 1px solid $primaryColorTwo;
                    margin-right: 5px;
                    position: relative;
                }
                span {
                    margin-right: 17px;
                }
            }
            input[type=radio] {
                display:none;
            }
            input[type=text], input[type=tel] {
                border:none;
                border-bottom: 1px solid #D8D8D8;
                font-size: 12px;
                width: 240px;
                &::placeholder {
                    color: #D8D8D8;

                }
            }
        }
        
    
        input[type=submit] {
            background-color: $primaryColorTwo;
            border:none;
            width: 100%;
            height: 57px;
            @include flexCenter;
            color: white;
            font-size: 18px; 
            font-weight: 600;
        }
    }
}