body {
    font-family: 'Montserrat', sans-serif;
    main {
        @include flexColumn;
    }
}
article {
    width: 100%;
    @include flexColumn;
    background-size: cover;
    box-sizing: border-box;
}
p {
    font-size: 14px;
    font-weight: 400;
}

.header-line-text {
    h1 {
        color: $navTextColor; 
        font-size: 36px;
        margin-bottom: 25px; 
    }
    .line {
        height: 0;
        width: 74px;
        @include line($navTextColor);
        margin-bottom: 25px;
    }
    p {
        color: $navTextColor;
        opacity: 0.8;
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
    }
}