@import "colors";
@import "mixins";

@media (min-width: 600px) {
    nav {
        height: 72px;
        .logo-smaller {
            display: none;
        }
        .logo-bigger {
            display: flex;
            // margin-left: 10px;
        }
    }

    article:nth-of-type(2) {
        .wrapper {
            .text {
                display: block;
                p {
                    display: none;
                }
            }
        }
    }

    footer {
        p {
            display:block;
        }
    }
}

@media (max-width :768px) {
    nav {
        .menu-wrap {
            ul {
                li {
                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 0;
                        background-color: $primaryColorOne;
                        top: 0;
                        left: 100%;
                    }
                }
                li:hover {
                    &::after {
                        animation: menuHover 0.35s ease-out;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    nav {
        .burger {
            display: none;
        }
        .menu-wrap {
            position: static;
            transform: none;
            height: 100%;
            width: 500px;
            display: flex;
            align-items: center;
            transition: none;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 0px;
                width: 100%;
                height: 100%;
                li {
                    padding: 0;
                    border-left: none;
                    font-size: 14px;
                    height: calc(100% - 2px);
                    @include flexCenter;
                    transition: 0.2s ease-in-out;
                    border-bottom: 2px solid $primaryColorOne;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 3px;
                        background-color: $navBackgroundColor;
                        width: 50%;
                        left: 0;
                        bottom: -2px;
                        transition: 0.5s ease-in-out;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        height: 3px;
                        background-color: $navBackgroundColor;
                        width: 51%;
                        left: 50%;
                        bottom: -2px;
                        transition: 0.5s ease-in-out;
                    }
                    a {
                        // @include flexCenter;
                        // height: 100%;
                        // width: 100%;
                        padding: 0 22px;
                    }
                }
                li:hover{
                    border-left: none;
                    padding-left: 0;
                    height: calc(100% - 2px);
                    &::after {
                        transform:translateX(100%);
                    }
                    &::before {
                        transform: translateX(-100%);
                    }
                    a {
                        transform: none;
                    }
                }
            }
        }
    }

    article:nth-of-type(3) {
        justify-content: center;
        flex-direction: row;
        .features-button-wrapper {
            flex-direction: column;
            max-width: 100px;
            margin-right: 54px;
            .features-button:nth-of-type(1), .features-button:nth-of-type(2) {
                margin-bottom: 21px;
            }
        }
    }
}

@media (min-width: 1024px) {
    nav {
        padding: 0 40px;
    }

    article:nth-of-type(1) {
        @include flexRow;
        padding: 75px 40px 140px 40px;
        .text {
            margin-right: 90px;
        }
    }

    article:nth-of-type(2) {
        padding: 20px 40px;
        .wrapper {
            .text {
                p {
                    margin-top: 5px;
                    display: inline-block;
                }
            }
        }
    }

    article:nth-of-type(3) {
        padding: 126px 0 126px 0;
        .features-button-wrapper {
            margin-right: 34px;
        }
        .text-image-wrap {
            flex-direction: row;
            max-width: 977px;
            .text-wrapper {
                margin-right: 76px;
                max-width: 517px;
                width: calc(100vw - 692px);
            }
        }
    }

    article:nth-of-type(4) {
        @include flexRow;
        .logo {
            display: inline-block;
            margin-right: calc((416px - (1440px - 100vw)) / 4 + 64px);
        }
    }

    article:nth-of-type(5) {
        .wrapper {
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
            max-width: 1052px;
        }
    }

    article:nth-of-type(6) {
        .wrapper-price-tags {
            align-items: flex-end;
            .price-tag {
                width: calc((100vw - 120px) / 3);
            }
        }
    }
}

@media (min-width: 1440px) {
    article:nth-of-type(4) {
        .logo {
            margin-right: 168px;
        }
    }
}