<<<<<<< HEAD
* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding:0;
    padding-inline-start: 0;
    padding-inline-end: 0;
=======
* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding:0;
    padding-inline-start: 0;
    padding-inline-end: 0;
>>>>>>> 5f66b2d45907ca11d706af7b4643e1871c4a96e8
}